basepath: "/path/to/my/content"
randomize: Yes

defaults:
   delay: 15
   frequency: 1
   caption: ""

slides:
  - file: "image1.jpg"
    caption: "foobar"
    
  - file: "image2.jpg"
    delay: 20
    frequency: 2

  - directory: "Lotsofimgs/"
    caption: "Lots of imgs"


